snippet use_packer_plugin "" b
use { '${1:REPO}' }
endsnippet

snippet use_packer_plugin_setup "" b
use {
  '${1:REPO}',
  setup = function() vim.cmd('so $XDG_CONFIG_HOME/plugins/add/${2:NAME}.rc.vim') end
}
endsnippet

snippet use_packer_plugin_on_cmd "" b
use {
  '${1:REPO}',
  opt = true,
  cmd = { '${2:CMD}' }
}
endsnippet
