# -- deinの書き方 --
# hook_add: プラグインが dein.vim によって追加されたとき
# hook_source: プラグインが読み込まれる直前
# hook_post_source: プラグインが読み込まれた直後
# hook_post_update: プラグインが更新された直後
#
#
#
# ------------------
[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'Shougo/vimproc.vim'
hook_post_update = '''
  if dein#util#_is_windows()
    let cmd = 'tools\\update-dll-mingw'
  elseif dein#util#_is_cygwin()
    let cmd = 'make -f make_cygwin.mak'
  elseif executable('gmake')
    let cmd = 'gmake'
  else
    let cmd = 'make -f'
  endif
  let g:dein#plugin.build = cmd
'''
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vimproc.vim.rc.vim
'''

[[plugins]]
repo = 'Shougo/defx.nvim'
if = 'has("nvim") && has("python3_compiled")'
do = ':UpdateRemotePlugins'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/defx.nvim.rc.vim
'''

[[plugins]]
repo = 'ryanoasis/vim-devicons'
depends = ['defx.nvim']
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-devicons.rc.vim
'''

[[plugins]]
repo = 'kristijanhusak/defx-icons'
depends = ['defx.nvim']
hook_add = '''
source $XDG_CONFIG_HOME/plugins/defx-icons.rc.vim
'''

[[plugins]]
repo = 'Shougo/vimfiler'
if = '!has("nvim") || !has("python3_compiled")'
depends = ['vimproc.vim']
hook_post_source = '''
source $XDG_CONFIG_HOME/plugins/vimfiler.rc.vim
'''

[[plugins]]
repo = 'rytkmt/dotfiles'

[[plugins]]
repo = 'rytkmt/lighthouse'

# [[plugins]]
# repo = 'cocopon/iceberg.vim'

# [[plugins]]
# repo = 'rakr/vim-one'

[[plugins]]
repo = 'Shougo/unite.vim'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/unite.vim.rc.vim
'''

[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/lightline.vim.rc.vim
'''

# [[plugins]]
# repo = 'Yggdroot/indentLine'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/indentLine.rc.vim
# '''

[[plugins]]
repo = 'kana/vim-submode'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-submode.rc.vim
'''

# [[plugins]]
# repo = 'ujihisa/unite-colorscheme'

[[plugins]]
repo = 'cohama/lexima.vim'
hook_add = '''
let g:lexima_accept_pum_with_enter = 0
'''

# [[plugins]]
# repo = 'terryma/vim-expand-region'
# depends = ['vim-textobj-ruby']
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/vim-expand-region.rc.vim
# '''

# [[plugins]]
# repo = 'stevemadere/ruby-matchit'

# [[plugins]]
# repo = 'vimtaku/hl_matchit.vim'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/hl_matchit.vim.rc.vim
# '''

[[plugins]]
repo = "kana/vim-textobj-user"

# [[plugins]]
# repo = "h1mesuke/textobj-wiw"
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/textobj-wiw.rc.vim
# '''

# [[plugins]]
# repo = "kana/vim-textobj-function"
#
# [[plugins]]
# repo = "kana/vim-textobj-line"
#
# [[plugins]]
# repo = 'rhysd/vim-textobj-ruby'
# hook_add = '''
# let g:textobj_ruby_more_mappings = 1
# '''

[[plugins]]
repo = 'vim-scripts/grep.vim'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/grep.vim.rc.vim
'''

[[plugins]]
repo = 'tomtom/tcomment_vim'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/tcomment_vim.rc.vim
'''

[[plugins]]
repo = 'vim-scripts/AnsiEsc.vim'

[[plugins]]
repo = 'rytkmt/vim-trailing-whitespace'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-trailing-whitespace.rc.vim
'''

[[plugins]]
repo = 'airblade/vim-rooter'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-rooter.rc.vim
'''

[[plugins]]
repo = 'AndrewRadev/switch.vim'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/switch.vim.rc.vim
'''

[[plugins]]
repo = 'tyru/capture.vim'

[[plugins]]
repo = 'tpope/vim-surround'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-surround.rc.vim
'''

# [[plugins]]
# repo = 'thinca/vim-ref'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/vim-ref.rc.vim
# '''
#
# [[plugins]]
# repo = 'rytkmt/vim-ref-ri'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/vim-ref-ri.rc.vim
# '''
#
# [[plugins]]
# repo = 'tyru/vim-altercmd'

[[plugins]]
repo = 'ctrlpvim/ctrlp.vim'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/ctrlp.vim.rc.vim
'''

# 遅いので一時的にコメントアウトしておく
# [[plugins]]
# repo = 'lilydjwg/colorizer'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/colorizer.rc.vim
# '''

# [[plugins]]
# repo = 'tyru/open-browser.vim'

[[plugins]]
repo = 'thinca/vim-quickrun'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-quickrun.rc.vim
'''

# [[plugins]]
# repo = 'easymotion/vim-easymotion'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/vim-easymotion.rc.vim
# '''

# [[plugins]]
# repo = 'haya14busa/incsearch.vim'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/incsearch.vim.rc.vim
# '''

# [[plugins]]
# repo = 'w0ng/vim-hybrid'

[[plugins]]
repo = 'vim-jp/vimdoc-ja'

[[plugins]]
repo = 'LeafCage/yankround.vim'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/yankround.vim.rc.vim
'''

[[plugins]]
repo = 'junegunn/vim-easy-align'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-easy-align.rc.vim
'''

# [[plugins]]
# repo = 'rytkmt/scratch.vim'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/scratch.rc.vim
# '''

# [[plugins]]
# repo = 'thinca/vim-visualstar'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/vim-visualstar.rc.vim
# '''

[[plugins]]
repo = 'kana/vim-operator-user'

[[plugins]]
repo = 'kana/vim-operator-replace'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-operator-replace.rc.vim
'''

[[plugins]]
repo = 'osyo-manga/vim-anzu'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-anzu.rc.vim
'''

[[plugins]]
repo = 'rhysd/clever-f.vim'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/clever-f.vim.rc.vim
'''

[[plugins]]
repo = 'haya14busa/vim-operator-flashy'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-operator-flashy.rc.vim
'''

# solargraphにはmriのチェックがないため仕方なく
# [[plugins]]
# repo = 'vim-syntastic/syntastic'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/syntastic.rc.vim
# '''
# hook_post_update = '''
# set statusline+=%#warningmsg#
# set statusline+=%{SyntasticStatuslineFlag()}
# set statusline+=%*
# '''

[[plugins]]
repo = 'airblade/vim-gitgutter'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-gitgutter.rc.vim
'''

# [[plugins]]
# repo = 'tpope/vim-fugitive'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/vim-fugitive.rc.vim
# '''

# [[plugins]]
# repo = 'kamykn/spelunker.vim'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/spelunker.vim.rc.vim
# '''

[[plugins]]
repo = 'tyru/stoptypofile.vim'

# [[plugins]]
# repo = 'koron/codic-vim'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/codic-vim.rc.vim
# '''

# [[plugins]]
# repo = 'rhysd/unite-codic.vim'

[[plugins]]
repo = 'nathanaelkane/vim-indent-guides'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-indent-guides.rc.vim
'''

# [[plugins]]
# repo = 'neoclide/coc.nvim'
# if = 'has("node")'
# build = 'coc#util#install()'
# rev = 'release'
# merge = 0
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/coc.nvim.rc.vim
# '''

# [[plugins]]
# repo = 'prabirshrestha/async.vim'

# [[plugins]]
# repo = 'prabirshrestha/vim-lsp'
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/vim-lsp.rc.vim
# '''
#
# [[plugins]]
# repo = 'mattn/vim-lsp-settings'
# merged = 0
# hook_add = '''
# source $XDG_CONFIG_HOME/plugins/vim-lsp-settings.rc.vim
# '''

[[plugins]]
repo = 'neovim/nvim-lspconfig'

# なぜかうまく表示されない
# [[plugins]]
# repo = 'matsui54/ddc-nvim-lsp-doc'

[[plugins]]
repo = 'cocopon/inspecthi.vim'

[[plugins]]
repo = 'haya14busa/vim-asterisk'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/vim-asterisk.rc.vim
'''

[[plugins]]
repo = 'SirVer/ultisnips'
if = 'has("python3")'
hook_add = '''
source $XDG_CONFIG_HOME/plugins/ultisnips.rc.vim
'''
